[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-heroku = "*"
whitenoise = "*"
django = "*"
openpyxl = "*"
python-docx = "*"
gunicorn = "*"
djangorestframework = "*"
drf-yasg = "*"
django-cors-headers = "*"
python-dotenv = "*"

[dev-packages]
autopep8 = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
