{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'main/svgs/appleicon.svg' %}">
    <link rel="icon" href="{% static 'main/svgs/favicon.svg' %}">
    <meta name="referrer" content="always" />
    <meta name="description" content="ORDERLIE - Getting your class data sorted without stress." />
    <meta name="keywords" content="eksu, eksu.edu.ng, eksu portal,">
    <link rel="canonical" href="{% url 'main:index' %}" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ORDERLIE" />
    <meta property="og:description"
        content="Getting your class data sorted without stress in MS Word and Excel formats" />
    <meta property="og:url" content="{% url 'main:index' %}" />
    <meta property="og:site_name" content="ORDERLIE" />
    <meta property="og:image" content="{% static 'main/svgs/og_image.svg' %}" />
    <meta property="og:image:secure_url" content="{% static 'main/svgs/og_image.svg' %}" />
    <meta property="og:image:width" content="540" />
    <meta property="og:image:height" content="540" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description"
        content="Getting your class data sorted without stress in MS Word and Excel formats" />
    <meta name="twitter:title" content="ORDERLIE - Automating class data collection." />
    <meta name="twitter:image" content="{% static 'main/svgs/og_image.svg' %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Ubuntu', sans-serif !important;
        }
    </style>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% for message in messages %}
    <script typet='text/javascript'>
        document.addEventListener('DOMContentLoaded', () => {
            setTimeout(() => {
                document.getElementById('info').innerHTML =
                    "<p class='alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %}'>{{ message }}</p>";
            }, 1000)
        });
    </script>
    {% endfor %}
    <img src="{% static 'main/svgs/orderlie.svg' %}" alt="" class="img-responsive align-center">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link {% if request.get_full_path == '/' %}active{% endif %}" aria-current="page"
                href="{% url 'main:index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.get_full_path == '/register/student/' %}active{% endif %}"
                href="{% url 'main:create-student' %}">Upload Bio-Data</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.get_full_path == '/classes/' %}active{% endif %}"
                href="{% url 'main:class-list' %}">Class List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.get_full_path == '/register/class/' %}active{% endif %}"
                href="{% url 'main:create-class' %}">Create New Class</a>
        </li>
    </ul>
    <div id='info'></div>

    {% block content %}{% endblock %}
    <div class="container-fluid">
        <h5 class="mt-5 mb-3">Made with ❤ EKSU Electrical & Electronics Engineering 2019/20 session</h5>
    </div>
    <br><br>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
</body>

</html>